input, textarea{
    border-color: #d6d3d1;
}
.login-card{
    border-color: #d6d3d1;
}

.btn{
    width: 45%;
}

.link{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}

