/* Styles spécifiques à l'application */

/* Conteneur principal */
#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: var(--background);
}

/* Boîte de connexion/inscription */
.login-registration-box {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Boutons */
.btn {
  opacity: 1;
  transition: opacity 0.3s ease;
  background: #afadad;
}

.btn.inactive {
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.8;
}

/* Formulaires */
.form {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid var(--border);
}

.form-input {
  border: 1px solid var(--input);
}

.form-field {
  color: var(--foreground);
}

/* Boutons switchables */
.switchable-button-login-register {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.switchable-button-login-register .btn {
  flex: 1;
  width: 100%;
  color: var(--foreground);
  background: var(--border);
}

/* Pied de page */
.footer {
  border-top: 1px solid var(--border);
  margin-top: 4rem;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--secondary-foreground);
}

/* Logo avec texte */
.logo-with-text {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.logo-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}

/* Barre de navigation utilisateur non connecté*/
.unauthenticated-navbar {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(10px);
  border-radius: var(--radius);
}

.unauthenticated-navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.user-menu-content{
  background: #9e9c9c;
}

/* Style de la barre de recherche */
.search-bar {
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 30%;
  background: var(--background);
  height: 5vh;
}

/* Style pour l'avatar d'utilisateur */
.navbar-avatar {
    border-radius: 50%;
}

/* Style de la navbar pour l'utilisateur connecté */
.authenticated-navbar-container {
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.collection-section {
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.btn-search{
    background: var(--secondary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
}

/* Style de la page add book */
.add-book-container input, textarea{
  border: 1px solid var(--input);
}
.add-book-select-trigger {
    border: 1px solid var(--input);
  background: var(--background);
  color: #9e9c9c;
}

/* Media queries pour les écrans plus grands */
@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }

  .unauthenticated-navbar-content {
    width: 100%;
    margin: auto;
    flex-direction: row;
    gap: 0;
  }

  .authenticated-navbar-container {
    width: 100%;
    margin: auto;
    flex-direction: row;
    gap: 0;
  }

  .firstName-name-disposition {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .firstName-name-disposition {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .collection-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }
}

